<div>
	<% if user_signed_in? %>
	welcome
		<%= image_tag(current_user.avatar.url(:thumb), size: '30x30') %> 
		<%= link_to current_user.fullname, edit_user_registration_path %> Not you? 
		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to 'Sign in', new_user_session_path %> or 
		<%= link_to 'Sign up', new_user_registration_path %>
	<% end %>
</div>